body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 1em;
	-webkit-user-select: none;
	font-family: 'Encode Sans', sans-serif;
	background: #000000 url('../images/dashboard_background.jpg');
	background-size: cover;
}

strong {
	font-weight: 600;
}

header {
	top: 0;
	z-index: 3;
	width: 100%;
	height: 25px;
	padding: 12px;
	position: absolute;
	box-sizing: border-box;
	text-shadow: 1px 1px 1px #000000;
}

	header .menu {
		width: 50%;
		float: left;
	}

		header .menu i {
		}

	header .weather {
		width: 50%;
		float: left;
		text-align: right;
	}

		header .weather i {
			margin: 0 5px;
			padding-bottom: 5px;
			vertical-align: middle;
		}

a {
	color: #ffffff;
	text-decoration: none;
}

ul {
	padding: 0;
	display: none;
	padding: 15px 0px;
	margin: 35px 0 0 15px;
	position: absolute;
	border-radius: 5px;
	list-style-type: none;
	background-color: rgba(15,15,15,.800);
}

	ul li {
		padding: 2px 15px;
		text-shadow: 1px 1px 1px #000000;
	}

		ul li i {
			margin-right: 10px;
			margin-bottom: 4px;
			vertical-align: middle;
		}

		ul li a {
			display: block;
			padding-right: 10px;
		}

			ul li a:hover {
				color: #cccccc;
			}

section {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
}

.container {
	display: table-cell;
	vertical-align: middle;
}

#time {
	font-size: 10em;
	font-weight: 600;
	line-height: 100%;
	text-align: center;
	letter-spacing: 5px;
	text-shadow: 1px 1px 1px #000000;
}

#salutation {
	font-size: 3em;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
}

footer {
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 12px;
	color: #cccccc;
	font-size: 0.8em;
	text-align: right;
	position: absolute;
	box-sizing: border-box;
	text-shadow: 1px 1px 1px #000000;
}

	footer a:hover {
		text-decoration: underline;
	}