@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: 'weather';
	src: url('../fonts/artill_clean_icons-webfont.eot');
	src: url('../fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/artill_clean_icons-webfont.woff') format('woff'), url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'), url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
}

body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 1em;
	background-color: #000000;
	-webkit-user-select: none;
	font-family: 'Encode Sans', sans-serif;
	background-size: cover;
}

strong {
	font-weight: 600;
}

header {
	top: 0;
	z-index: 3;
	width: 100%;
	height: 25px;
	padding: 12px;
	position: absolute;
	box-sizing: border-box;
	text-shadow: 1px 1px 1px #000000;
}

	header .menu {
		width: 50%;
		float: left;
	}

	header .weather {
		width: 50%;
		float: right;
		font-size: 1.1em;
		text-align: right;
	}

		header .weather i {
			color: #ffffff;
			font-size: 38px;
			font-style: normal;
			font-weight: normal;
			font-family: weather;
			text-transform: none;
			vertical-align: middle;
		}

	header .menu #options {
		text-decoration: underline;
	}

a {
	color: #ffffff;
	text-decoration: none;
}

ul {
	padding: 0;
	display: none;
	padding: 15px 0px;
	position: absolute;
	border-radius: 5px;
	margin: 35px 0 0 15px;
	list-style-type: none;
	background-color: rgba(15,15,15,.800);
}

	ul li {
		padding: 2px 15px;
		text-shadow: 1px 1px 1px #000000;
	}

		ul li i {
			margin-right: 10px;
			margin-bottom: 4px;
			vertical-align: middle;
		}

		ul li a {
			display: block;
			padding-right: 10px;
		}

			ul li a:hover {
				color: #cccccc;
			}

section {
	z-index: 1;
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
}

.search {
	width: 550px;
	text-align: center;
	border-radius: 5px;
	margin: 70px auto 0 auto;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}

	.search input, .search button {
		border: none;
		padding: 15px;
		outline: none;
		font-size: 1.5em;
		border-radius: 0;
		box-sizing: border-box;
		-webkit-appearance: none;
		font-family: 'Encode Sans', sans-serif;
	}

	.search input {
		width: 400px;
		vertical-align: middle;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.search button {
		width: 150px;
		color: #ffffff;
		cursor: pointer;
		font-weight: 600;
		text-align: center;
		vertical-align: middle;
		background-color: #2196f3;
		transition: all .3s linear;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

		.search button:hover {
			background-color: #1976d2;
		}

.container {
	display: table-cell;
	vertical-align: middle;
}

#time {
	font-weight: 600;
	text-align: center;
	letter-spacing: 5px;
	text-shadow: 1px 1px 1px #000000;
}

	#time hours {
		font-size: 10em;
		display: inline-block;
	}

	#time seconds {
		width: 85px;
		font-size: 3em;
		text-align: left;
		display: inline-block;
		vertical-align: bottom;
	}

#salutation {
	font-size: 3em;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
}

footer {
	bottom: 0;
	z-index: 2;
	width: 100%;
	padding: 12px;
	color: #cccccc;
	font-size: 0.8em;
	text-align: right;
	position: absolute;
	box-sizing: border-box;
	text-shadow: 1px 1px 1px #000000;
}

	footer a:hover {
		text-decoration: underline;
	}

	footer .links {
		float: left;
		color: #ffffff;
		font-size: 1.2em;
	}

		footer .links a {
			margin-right: 20px;
		}

		footer .links i {
			margin-right: 5px;
			margin-bottom: 5px;
			vertical-align: middle;
		}

		footer .links a:hover {
			text-decoration: none;
		}

	footer .copyright {
		float: right;
		padding-top: 10px;
	}

.icon-0:before {
	content: ":";
}

.icon-1:before {
	content: "p";
}

.icon-2:before {
	content: "S";
}

.icon-3:before {
	content: "Q";
}

.icon-4:before {
	content: "S";
}

.icon-5:before {
	content: "W";
}

.icon-6:before {
	content: "W";
}

.icon-7:before {
	content: "W";
}

.icon-8:before {
	content: "W";
}

.icon-9:before {
	content: "I";
}

.icon-10:before {
	content: "W";
}

.icon-11:before {
	content: "I";
}

.icon-12:before {
	content: "I";
}

.icon-13:before {
	content: "I";
}

.icon-14:before {
	content: "I";
}

.icon-15:before {
	content: "W";
}

.icon-16:before {
	content: "I";
}

.icon-17:before {
	content: "W";
}

.icon-18:before {
	content: "U";
}

.icon-19:before {
	content: "Z";
}

.icon-20:before {
	content: "Z";
}

.icon-21:before {
	content: "Z";
}

.icon-22:before {
	content: "Z";
}

.icon-23:before {
	content: "Z";
}

.icon-24:before {
	content: "E";
}

.icon-25:before {
	content: "E";
}

.icon-26:before {
	content: "3";
}

.icon-27:before {
	content: "a";
}

.icon-28:before {
	content: "A";
}

.icon-29:before {
	content: "a";
}

.icon-30:before {
	content: "A";
}

.icon-31:before {
	content: "6";
}

.icon-32:before {
	content: "1";
}

.icon-33:before {
	content: "6";
}

.icon-34:before {
	content: "1";
}

.icon-35:before {
	content: "W";
}

.icon-36:before {
	content: "1";
}

.icon-37:before {
	content: "S";
}

.icon-38:before {
	content: "S";
}

.icon-39:before {
	content: "S";
}

.icon-40:before {
	content: "M";
}

.icon-41:before {
	content: "W";
}

.icon-42:before {
	content: "I";
}

.icon-43:before {
	content: "W";
}

.icon-44:before {
	content: "a";
}

.icon-45:before {
	content: "S";
}

.icon-46:before {
	content: "U";
}

.icon-47:before {
	content: "S";
}